In [2]:
import pandas as pd
import numpy as np

1. Carregar o seu arquivo df_OVNI_limpo.csv (arquivo gerado após a limpeza de dados efetuada na atividade)

In [4]:
df_OVNI_limpo = pd.read_csv('../5.7-Limpeza-de-dados/df_OVNI_limpo.csv')
df_OVNI_limpo

           date_time              city state      shape
0      9/22/97 20:00   Solomons Island    MD       Disk
1            9/19/97      Garden Grove    CA  Rectangle
2      9/15/97 00:00           Houston    TX       Disk
3      9/15/97 20:00          Santa Fe    NM      Light
4      9/15/97 20:00              Kent    WA     Sphere
...              ...               ...   ...        ...
54875   8/1/17 06:15  Columbus (North)    GA   Fireball
54876   8/1/17 02:45          Corcoran    MN      Light
54877   8/1/17 02:00     Moreno Valley    CA      Other
54878   8/1/17 01:00         Bradenton    FL      Other
54879         8/1/17            Laurel    MD      Other

[54880 rows x 4 columns]

2. Dividir o conteúdo da coluna Date / Time em duas novas colunas no mesmo dataframe e deletar a coluna Date / Time .

In [5]:
#convertendo o tipo da coluna date_time de object para datetime
df_OVNI_limpo["date_time"] = pd.to_datetime(df_OVNI_limpo["date_time"])
#df_OVNI_limpo["date_time"].dt.weekday_name
df_OVNI_limpo["date_time"].dt.date

0        1997-09-22
1        1997-09-19
2        1997-09-15
3        1997-09-15
4        1997-09-15
            ...
54875    2017-08-01
54876    2017-08-01
54877    2017-08-01
54878    2017-08-01
54879    2017-08-01
Name: date_time, Length: 54880, dtype: object

In [6]:
#criando a coluna com a data
df_OVNI_limpo['Sight_Date'] = df_OVNI_limpo["date_time"].dt.date
df_OVNI_limpo

                date_time              city state      shape  Sight_Date
0     1997-09-22 20:00:00   Solomons Island    MD       Disk  1997-09-22
1     1997-09-19 00:00:00      Garden Grove    CA  Rectangle  1997-09-19
2     1997-09-15 00:00:00           Houston    TX       Disk  1997-09-15
3     1997-09-15 20:00:00          Santa Fe    NM      Light  1997-09-15
4     1997-09-15 20:00:00              Kent    WA     Sphere  1997-09-15
...                   ...               ...   ...        ...         ...
54875 2017-08-01 06:15:00  Columbus (North)    GA   Fireball  2017-08-01
54876 2017-08-01 02:45:00          Corcoran    MN      Light  2017-08-01
54877 2017-08-01 02:00:00     Moreno Valley    CA      Other  2017-08-01
54878 2017-08-01 01:00:00         Bradenton    FL      Other  2017-08-01
54879 2017-08-01 00:00:00            Laurel    MD      Other  2017-08-01

[54880 rows x 5 columns]

In [8]:
#criando a coluna com a hora
df_OVNI_limpo['Sight_Time'] = df_OVNI_limpo["date_time"].dt.time
df_OVNI_limpo

,date_time,city,state,shape,Sight_Date,Sight_Time
0,1997-09-22 20:00:00,Solomons Island,MD,Disk,1997-09-22,20:00:00
1,1997-09-19 00:00:00,Garden Grove,CA,Rectangle,1997-09-19,00:00:00
2,1997-09-15 00:00:00,Houston,TX,Disk,1997-09-15,00:00:00
3,1997-09-15 20:00:00,Santa Fe,NM,Light,1997-09-15,20:00:00
4,1997-09-15 20:00:00,Kent,WA,Sphere,1997-09-15,20:00:00
...,...,...,...,...,...,...
54875,2017-08-01 06:15:00,Columbus (North),GA,Fireball,2017-08-01,06:15:00
54876,2017-08-01 02:45:00,Corcoran,MN,Light,2017-08-01,02:45:00
54877,2017-08-01 02:00:00,Moreno Valley,CA,Other,2017-08-01,02:00:00
54878,2017-08-01 01:00:00,Bradenton,FL,Other,2017-08-01,01:00:00
54879,2017-08-01 00:00:00,Laurel,MD,Other,2017-08-01,00:00:00

In [9]:
#excluindo a coluna date_time
df_OVNI_limpo_drop_date_time = df_OVNI_limpo.drop(labels=['date_time'], axis=1)
df_OVNI_limpo_drop_date_time

                   city state      shape  Sight_Date Sight_Time
0       Solomons Island    MD       Disk  1997-09-22   20:00:00
1          Garden Grove    CA  Rectangle  1997-09-19   00:00:00
2               Houston    TX       Disk  1997-09-15   00:00:00
3              Santa Fe    NM      Light  1997-09-15   20:00:00
4                  Kent    WA     Sphere  1997-09-15   20:00:00
...                 ...   ...        ...         ...        ...
54875  Columbus (North)    GA   Fireball  2017-08-01   06:15:00
54876          Corcoran    MN      Light  2017-08-01   02:45:00
54877     Moreno Valley    CA      Other  2017-08-01   02:00:00
54878         Bradenton    FL      Other  2017-08-01   01:00:00
54879            Laurel    MD      Other  2017-08-01   00:00:00

[54880 rows x 5 columns]

3. Fazer o mesmo procedimento para dias da semana. Será que existe um dia da semana com mais ocorrências de relatórios para OVNIs? Para descobrir isso, você deve criar uma nova coluna chamada weekdays.

In [10]:
#transformando a coluna Sight_Date de object para datatime
df_OVNI_limpo_drop_date_time["Sight_Date"] = pd.to_datetime(df_OVNI_limpo_drop_date_time["Sight_Date"])
df_OVNI_limpo_drop_date_time.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 54880 entries, 0 to 54879
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        54880 non-null  object
 1   state       54880 non-null  object
 2   shape       54880 non-null  object
 3   Sight_Date  54880 non-null  datetime64[ns]
 4   Sight_Time  54880 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 2.1+ MB

In [11]:
#criando a coluna dia da semana
df_OVNI_limpo_drop_date_time['Sight_Weekday'] = df_OVNI_limpo_drop_date_time['Sight_Date'].dt.day_name()
df_OVNI_limpo_drop_date_time

                   city state      shape Sight_Date Sight_Time Sight_Weekday
0       Solomons Island    MD       Disk 1997-09-22   20:00:00        Monday
1          Garden Grove    CA  Rectangle 1997-09-19   00:00:00        Friday
2               Houston    TX       Disk 1997-09-15   00:00:00        Monday
3              Santa Fe    NM      Light 1997-09-15   20:00:00        Monday
4                  Kent    WA     Sphere 1997-09-15   20:00:00        Monday
...                 ...   ...        ...        ...        ...           ...
54875  Columbus (North)    GA   Fireball 2017-08-01   06:15:00       Tuesday
54876          Corcoran    MN      Light 2017-08-01   02:45:00       Tuesday
54877     Moreno Valley    CA      Other 2017-08-01   02:00:00       Tuesday
54878         Bradenton    FL      Other 2017-08-01   01:00:00       Tuesday
54879            Laurel    MD      Other 2017-08-01   00:00:00       Tuesday

[54880 rows x 6 columns]

Sabemos que sábado é o dia com mais ocorrências dentro do dataframe atual

In [13]:
#Será que existe um dia da semana com mais ocorrências de relatórios para OVNIs?
#dia da semana com mais ocorrência de OVNIs (SÁBADO)
weekday_mais_popular = pd.value_counts(df_OVNI_limpo_drop_date_time['Sight_Weekday']).to_frame().reset_index()
weekday_mais_popular.columns = ['WeekDay', 'Total']
weekday_mais_popular.head(1)

    WeekDay  Total
0  Saturday  10716

De acordo com o ranking abaixo percebe-se que a maior parte das ocorrências ocorrem nos finais de semana...

In [14]:
#ranking dos dias das semanas com mais ocorrências
weekday_mais_popular

     WeekDay  Total
0   Saturday  10716
1     Friday   8145
2     Sunday   7811
3  Wednesday   7394
4   Thursday   7295
5    Tuesday   6875
6     Monday   6644

4. Separar as variáveis mês (Month) e dia (Day). Desse modo, será possível refinar as pesquisas.
Aspecto do dataframe após a modificação:

In [19]:
#criando a coluna com o dia
df_OVNI_limpo_drop_date_time['Sight_Day'] = df_OVNI_limpo_drop_date_time["Sight_Date"].dt.day
df_OVNI_limpo_drop_date_time

,city,state,shape,Sight_Date,Sight_Time,Sight_Weekday,Sight_Day,Sight_Month
0,Solomons Island,MD,Disk,1997-09-22,20:00:00,Monday,22,9
1,Garden Grove,CA,Rectangle,1997-09-19,00:00:00,Friday,19,9
2,Houston,TX,Disk,1997-09-15,00:00:00,Monday,15,9
3,Santa Fe,NM,Light,1997-09-15,20:00:00,Monday,15,9
4,Kent,WA,Sphere,1997-09-15,20:00:00,Monday,15,9
...,...,...,...,...,...,...,...,...
54875,Columbus (North),GA,Fireball,2017-08-01,06:15:00,Tuesday,1,8
54876,Corcoran,MN,Light,2017-08-01,02:45:00,Tuesday,1,8
54877,Moreno Valley,CA,Other,2017-08-01,02:00:00,Tuesday,1,8
54878,Bradenton,FL,Other,2017-08-01,01:00:00,Tuesday,1,8
54879,Laurel,MD,Other,2017-08-01,00:00:00,Tuesday,1,8

In [18]:
#criando a coluna com o mês
df_OVNI_limpo_drop_date_time['Sight_Month'] = df_OVNI_limpo_drop_date_time["Sight_Date"].dt.month
df_OVNI_limpo_drop_date_time

,city,state,shape,Sight_Date,Sight_Time,Sight_Weekday,Sight_Day,Sight_Month
0,Solomons Island,MD,Disk,1997-09-22,20:00:00,Monday,22,9
1,Garden Grove,CA,Rectangle,1997-09-19,00:00:00,Friday,19,9
2,Houston,TX,Disk,1997-09-15,00:00:00,Monday,15,9
3,Santa Fe,NM,Light,1997-09-15,20:00:00,Monday,15,9
4,Kent,WA,Sphere,1997-09-15,20:00:00,Monday,15,9
...,...,...,...,...,...,...,...,...
54875,Columbus (North),GA,Fireball,2017-08-01,06:15:00,Tuesday,1,8
54876,Corcoran,MN,Light,2017-08-01,02:45:00,Tuesday,1,8
54877,Moreno Valley,CA,Other,2017-08-01,02:00:00,Tuesday,1,8
54878,Bradenton,FL,Other,2017-08-01,01:00:00,Tuesday,1,8
54879,Laurel,MD,Other,2017-08-01,00:00:00,Tuesday,1,8

5. Por fim, salvar o dataframe resultante em um arquivo .csv com o nome: 'df_OVNI_preparado'.

In [21]:
#exportando o dataframe resultante
df_OVNI_limpo_drop_date_time.to_csv('df_OVNI_preparado.csv', index=False)

In [22]:
#carregando e visualizando o dataframe final
df_OVNI_preparado = pd.read_csv('../5.8-Acrescimo-de-variaveis/df_OVNI_preparado.csv')
df_OVNI_preparado

,city,state,shape,Sight_Date,Sight_Time,Sight_Weekday,Sight_Day,Sight_Month
0,Solomons Island,MD,Disk,1997-09-22,20:00:00,Monday,22,9
1,Garden Grove,CA,Rectangle,1997-09-19,00:00:00,Friday,19,9
2,Houston,TX,Disk,1997-09-15,00:00:00,Monday,15,9
3,Santa Fe,NM,Light,1997-09-15,20:00:00,Monday,15,9
4,Kent,WA,Sphere,1997-09-15,20:00:00,Monday,15,9
...,...,...,...,...,...,...,...,...
54875,Columbus (North),GA,Fireball,2017-08-01,06:15:00,Tuesday,1,8
54876,Corcoran,MN,Light,2017-08-01,02:45:00,Tuesday,1,8
54877,Moreno Valley,CA,Other,2017-08-01,02:00:00,Tuesday,1,8
54878,Bradenton,FL,Other,2017-08-01,01:00:00,Tuesday,1,8
54879,Laurel,MD,Other,2017-08-01,00:00:00,Tuesday,1,8