Importando as bibliotecas

In [2]:
import pandas as pd
import numpy as np

1. Carregar o seu arquivo OVNIS.csv em um dataframe

In [2]:
OVNIS_EUA = pd.read_csv('../5.4-Exploracao-dos-dados-com-SQL/OVNIS_EUA.csv')
OVNIS_EUA

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
2,9/18/97 20:15,Panama City,FL,Unknown,30 seconds,Looked like stars in the sky so far up/moveing...,3/13/12
3,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
4,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17
...,...,...,...,...,...,...,...
64892,8/1/17 02:45,Corcoran,MN,Light,Still going,Small light south west of Minneapolis maneuver...,8/4/17
64893,8/1/17 02:00,Moreno Valley,CA,Other,10 seconds,I was looking out the front windshield and loo...,8/4/17
64894,8/1/17 01:00,Bradenton,FL,Other,<20 seconds,"I was walking my dog about 1am on August 1, 20...",5/9/19
64895,8/1/17 00:00,Springdale,AR,NaN,1 hour,Glowing flying people . seven of them flying l...,2/13/20
64896,8/1/17,Laurel,MD,Other,NaN,It was an alien project level 1 federal ran on...,6/25/20

2. Remover registros que tenham valores vazios (None, Unknown, ...) para City, State e Shape

REMOVENDO LINHAS QUE POSSUEM VALORES NULOS PARA CITY, STATE E SHAPE

In [3]:
# identificando as colunas que possuem valores nulos
OVNIS_EUA.isnull().sum()

date_time       0
city           73
state           0
shape        1121
duration     1651
summary         8
posted          1
dtype: int64

In [4]:
#excluindo as linhas com valores nulos para City e Shape
# State nÃ£o possui valores nulos
OVNIS_EUA_WN = OVNIS_EUA.dropna(subset=['city','shape']) # WN = WHITHOUT NULLS
OVNIS_EUA_WN

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
2,9/18/97 20:15,Panama City,FL,Unknown,30 seconds,Looked like stars in the sky so far up/moveing...,3/13/12
3,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
4,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17
...,...,...,...,...,...,...,...
64891,8/1/17 06:15,Columbus (North),GA,Fireball,3 seconds,Green streak growing in size moving from west ...,8/4/17
64892,8/1/17 02:45,Corcoran,MN,Light,Still going,Small light south west of Minneapolis maneuver...,8/4/17
64893,8/1/17 02:00,Moreno Valley,CA,Other,10 seconds,I was looking out the front windshield and loo...,8/4/17
64894,8/1/17 01:00,Bradenton,FL,Other,<20 seconds,"I was walking my dog about 1am on August 1, 20...",5/9/19
64896,8/1/17,Laurel,MD,Other,NaN,It was an alien project level 1 federal ran on...,6/25/20

In [5]:
#testando se os valores nulos foram exluidos
OVNIS_EUA_WN.isnull().sum() # retorno AttributeError: 'tuple' object has no attribute 'isnull'

date_time       0
city            0
state           0
shape           0
duration     1405
summary         7
posted          1
dtype: int64

In [6]:
#exportando o dataframe com os valores nulos tratados
OVNIS_EUA_WN.to_csv('OVNIS_EUA_WN.csv', index=False)

In [7]:
#visualizando o dataframe sem os valores nulos
OVNIS_EUA_WN

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
2,9/18/97 20:15,Panama City,FL,Unknown,30 seconds,Looked like stars in the sky so far up/moveing...,3/13/12
3,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
4,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17
...,...,...,...,...,...,...,...
64891,8/1/17 06:15,Columbus (North),GA,Fireball,3 seconds,Green streak growing in size moving from west ...,8/4/17
64892,8/1/17 02:45,Corcoran,MN,Light,Still going,Small light south west of Minneapolis maneuver...,8/4/17
64893,8/1/17 02:00,Moreno Valley,CA,Other,10 seconds,I was looking out the front windshield and loo...,8/4/17
64894,8/1/17 01:00,Bradenton,FL,Other,<20 seconds,"I was walking my dog about 1am on August 1, 20...",5/9/19
64896,8/1/17,Laurel,MD,Other,NaN,It was an alien project level 1 federal ran on...,6/25/20

REMOVENDO LINHAS COM VALORES UNKNOWN DE CITY, STATE E SHAPE

In [15]:
#indentificando valores unknown em City, State e Shape
unknown = ((OVNIS_EUA_WN['city'] == 'Unknown') | (OVNIS_EUA_WN['state'] == 'Unknown')
            | (OVNIS_EUA_WN['shape'] == 'Unknown'))
UNKNOWN = ((OVNIS_EUA_WN['city'] == 'UNKNOWN') | (OVNIS_EUA_WN['state'] == 'UNKNOWN')
            | (OVNIS_EUA_WN['shape'] == 'UNKNOWN'))
# OVNIS_EUA_WN[unknown]
# OVNIS_EUA_WN[UNKNOWN]

In [16]:
#removendo unknown do dataframe
# WU = WITHOUT UNKNOWNS
OVNIS_EUA_WU = OVNIS_EUA_WN.drop(index=OVNIS_EUA_WN[unknown].index)
# OVNIS_EUA_WU
OVNIS_EUA_WU = OVNIS_EUA_WU.drop(index=OVNIS_EUA_WU[UNKNOWN].index)
OVNIS_EUA_WU

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
3,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
4,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17
5,9/15/97 20:00,Kent,WA,Sphere,5 minutes,Was looking thru a telescope at the moon in 19...,3/17/17
...,...,...,...,...,...,...,...
64891,8/1/17 06:15,Columbus (North),GA,Fireball,3 seconds,Green streak growing in size moving from west ...,8/4/17
64892,8/1/17 02:45,Corcoran,MN,Light,Still going,Small light south west of Minneapolis maneuver...,8/4/17
64893,8/1/17 02:00,Moreno Valley,CA,Other,10 seconds,I was looking out the front windshield and loo...,8/4/17
64894,8/1/17 01:00,Bradenton,FL,Other,<20 seconds,"I was walking my dog about 1am on August 1, 20...",5/9/19
64896,8/1/17,Laurel,MD,Other,NaN,It was an alien project level 1 federal ran on...,6/25/20

In [17]:
#exportando o dataframe com os valores unknown tratados
OVNIS_EUA_WU.to_csv('OVNIS_EUA_WU.csv', index=False)

In [18]:
#carregando o dataframe
OVNIS_EUA_WU = pd.read_csv('../5.7-Limpeza-de-dados/OVNIS_EUA_WU.csv')
OVNIS_EUA_WU

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
2,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
3,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17
4,9/15/97 20:00,Kent,WA,Sphere,5 minutes,Was looking thru a telescope at the moon in 19...,3/17/17
...,...,...,...,...,...,...,...
59007,8/1/17 06:15,Columbus (North),GA,Fireball,3 seconds,Green streak growing in size moving from west ...,8/4/17
59008,8/1/17 02:45,Corcoran,MN,Light,Still going,Small light south west of Minneapolis maneuver...,8/4/17
59009,8/1/17 02:00,Moreno Valley,CA,Other,10 seconds,I was looking out the front windshield and loo...,8/4/17
59010,8/1/17 01:00,Bradenton,FL,Other,<20 seconds,"I was walking my dog about 1am on August 1, 20...",5/9/19
59011,8/1/17,Laurel,MD,Other,NaN,It was an alien project level 1 federal ran on...,6/25/20

3. Manter somente os registros referentes aos 51 estados dos Estados Unidos

In [25]:
#Lista dos 51 estados dos Estados Unidos
states_eua = ['AK','AL','AR','AZ','CA','CO','CT','DE','DC','FL',
                      'GA','HI','IA','ID','IL','IN','KS','KY','LA','MA',
                      'MD','ME','MI','MN','MO','MS','MT','NC','ND','NE',
                      'NH','NJ','NM','NV','NY','OH','OK','OR','PA','RI',
                      'SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY']

lista_eua = []

for i in range(len(OVNIS_EUA_WU)):
    if(OVNIS_EUA_WU.iloc[i,2] in states_eua):
        lista_eua.append(OVNIS_EUA_WU.iloc[i])

OVNIS_EUA_51 = pd.DataFrame(lista_eua).reset_index(drop= True)
OVNIS_EUA_51

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
2,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
3,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17
4,9/15/97 20:00,Kent,WA,Sphere,5 minutes,Was looking thru a telescope at the moon in 19...,3/17/17
...,...,...,...,...,...,...,...
59007,8/1/17 06:15,Columbus (North),GA,Fireball,3 seconds,Green streak growing in size moving from west ...,8/4/17
59008,8/1/17 02:45,Corcoran,MN,Light,Still going,Small light south west of Minneapolis maneuver...,8/4/17
59009,8/1/17 02:00,Moreno Valley,CA,Other,10 seconds,I was looking out the front windshield and loo...,8/4/17
59010,8/1/17 01:00,Bradenton,FL,Other,<20 seconds,"I was walking my dog about 1am on August 1, 20...",5/9/19
59011,8/1/17,Laurel,MD,Other,NaN,It was an alien project level 1 federal ran on...,6/25/20

In [26]:
#exportando o dataframe com os valores dos 51 estados
OVNIS_EUA_51.to_csv('OVNIS_EUA_51.csv', index=False)

In [36]:
#carregando o dataframe
OVNIS_EUA_51 = pd.read_csv('../5.7-Limpeza-de-dados/OVNIS_EUA_51.csv')
OVNIS_EUA_51

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
2,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
3,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17
4,9/15/97 20:00,Kent,WA,Sphere,5 minutes,Was looking thru a telescope at the moon in 19...,3/17/17
...,...,...,...,...,...,...,...
59007,8/1/17 06:15,Columbus (North),GA,Fireball,3 seconds,Green streak growing in size moving from west ...,8/4/17
59008,8/1/17 02:45,Corcoran,MN,Light,Still going,Small light south west of Minneapolis maneuver...,8/4/17
59009,8/1/17 02:00,Moreno Valley,CA,Other,10 seconds,I was looking out the front windshield and loo...,8/4/17
59010,8/1/17 01:00,Bradenton,FL,Other,<20 seconds,"I was walking my dog about 1am on August 1, 20...",5/9/19
59011,8/1/17,Laurel,MD,Other,NaN,It was an alien project level 1 federal ran on...,6/25/20

4. Remover variÃ¡veis irrelevantes para a anÃ¡lise (Duration, Summary e Posted)

In [37]:
#removendo as colunas Duration, Summary e Posted do Dataframe
# DC = DROP COLUMNS
OVNIS_EUA_51_DC = OVNIS_EUA_51.drop(labels=['duration', 'summary', 'posted'], axis=1)
OVNIS_EUA_51_DC

           date_time              city state      shape
0      9/22/97 20:00   Solomons Island    MD       Disk
1            9/19/97      Garden Grove    CA  Rectangle
2      9/15/97 00:00           Houston    TX       Disk
3      9/15/97 20:00          Santa Fe    NM      Light
4      9/15/97 20:00              Kent    WA     Sphere
...              ...               ...   ...        ...
59007   8/1/17 06:15  Columbus (North)    GA   Fireball
59008   8/1/17 02:45          Corcoran    MN      Light
59009   8/1/17 02:00     Moreno Valley    CA      Other
59010   8/1/17 01:00         Bradenton    FL      Other
59011         8/1/17            Laurel    MD      Other

[59012 rows x 4 columns]

In [38]:
#exportando o csv sem as colunas duration, summary e posted
OVNIS_EUA_51_DC.to_csv('OVNIS_EUA_51_DC.csv', index=False)

In [7]:
#carregando o dataframe
OVNIS_EUA_51_DC = pd.read_csv('../5.7-Limpeza-de-dados/OVNIS_EUA_51_DC.csv')
OVNIS_EUA_51_DC

           date_time              city state      shape
0      9/22/97 20:00   Solomons Island    MD       Disk
1            9/19/97      Garden Grove    CA  Rectangle
2      9/15/97 00:00           Houston    TX       Disk
3      9/15/97 20:00          Santa Fe    NM      Light
4      9/15/97 20:00              Kent    WA     Sphere
...              ...               ...   ...        ...
59007   8/1/17 06:15  Columbus (North)    GA   Fireball
59008   8/1/17 02:45          Corcoran    MN      Light
59009   8/1/17 02:00     Moreno Valley    CA      Other
59010   8/1/17 01:00         Bradenton    FL      Other
59011         8/1/17            Laurel    MD      Other

[59012 rows x 4 columns]

5. Manter somente os registros de Shapes mais populares (com mais de 1000 ocorrÃªncias)

In [29]:
#Filtrando as formas menos populares para exclusÃ£o das linhas do dataframe
shapes_menos_populares = pd.value_counts(OVNIS_EUA_51_DC['shape']).to_frame().reset_index()
shapes_menos_populares.columns = ['forma', 'quantidade']
shapes_menos_populares_excluir =  shapes_menos_populares.query("quantidade <=1000")
shapes_menos_populares_excluir

       forma  quantidade
13  Cylinder         973
14   Diamond         936
15   Chevron         697
16  Teardrop         591
17       Egg         458
18      Cone         262
19     Cross         215

In [31]:
#indentificando  as formas Cylinder, Diamond, Chevron, Teardrop, Egg, Cone e Cross
formas_excluir = ((OVNIS_EUA_51_DC['shape'] == 'Cylinder') | (OVNIS_EUA_51_DC['shape'] == 'Diamond')  | (OVNIS_EUA_51_DC['shape'] == 'Chevron')  |                          (OVNIS_EUA_51_DC['shape'] == 'Teardrop') | (OVNIS_EUA_51_DC['shape'] == 'Teardrop') | (OVNIS_EUA_51_DC['shape'] == 'Egg') |
                        (OVNIS_EUA_51_DC['shape'] == 'Cone') | (OVNIS_EUA_51_DC['shape'] == 'Cross'))

OVNIS_EUA_51_DC[formas_excluir]

            date_time                           city state     shape
18     10/15/97 15:00  New York City (Staten Island)    NY  Cylinder
32     11/14/97 21:00                        Seattle    WA   Diamond
47       1/1/98 13:00                     Cannon AFB    NM   Diamond
69      4/15/98 13:00                    San Antonio    TX  Cylinder
72       4/9/98 23:00                  Golden Valley    MN  Cylinder
...               ...                            ...   ...       ...
58967    8/4/17 23:00                      Kalispell    MT   Diamond
58979    8/4/17 01:00                         Martin    MI  Cylinder
58984    8/3/17 21:40                  South Daytona    FL       Egg
59000    8/1/17 21:00                       Estacada    OR   Diamond
59004    8/1/17 19:50                        Newhall    CA  Teardrop

[4132 rows x 4 columns]

In [33]:
#Excluindo as linhas do dataframe das formas menos populares
#removendo as formas Cylinder, Diamond, Chevron, Teardrop, Egg, Cone e Cross do dataframe
# WS = WITHOUT SHAPES MENOS POPULARES (<= 1000)
OVNIS_EUA_51_DC_WS = OVNIS_EUA_51_DC.drop(index=OVNIS_EUA_51_DC[formas_excluir].index)

OVNIS_EUA_51_DC_WS

           date_time              city state      shape
0      9/22/97 20:00   Solomons Island    MD       Disk
1            9/19/97      Garden Grove    CA  Rectangle
2      9/15/97 00:00           Houston    TX       Disk
3      9/15/97 20:00          Santa Fe    NM      Light
4      9/15/97 20:00              Kent    WA     Sphere
...              ...               ...   ...        ...
59007   8/1/17 06:15  Columbus (North)    GA   Fireball
59008   8/1/17 02:45          Corcoran    MN      Light
59009   8/1/17 02:00     Moreno Valley    CA      Other
59010   8/1/17 01:00         Bradenton    FL      Other
59011         8/1/17            Laurel    MD      Other

[54880 rows x 4 columns]

6. Salvar o dataframe final em um arquivo CSV com o nome "df_OVNI_limpo"

In [34]:
#salvando o arquivo final
OVNIS_EUA_51_DC_WS.to_csv('df_OVNI_limpo.csv', index=False)