# 5.4 Exploração dos dados com SQL

In [4]:
import pandas as pd
import numpy as np

In [7]:
#carregando o csv
#ovnis = pd.read_csv('OVNIS.csv')
# código para usar no git
ovnis = pd.read_csv('../5.2-Script-da-coleta/OVNIS.csv')

In [8]:
#colocando as colunas em minusculo, tirando os espaços e trocando as '/' por _ para consultas sql
ovnis.rename(columns = lambda x: x.replace(' ', '').replace('/', '_').lower(), inplace=True)

In [9]:
#Quantidade de linhas
len(ovnis)

71901

In [10]:
#Remover campos vazios (sem estado)
ovnis_limpo = ovnis[ovnis.state.notnull()].reset_index(drop=True)
#ovnis_limpo

Comparando as quantidades depois da limpeza do Estados que estavam em branco

In [ ]:
#antes
len(ovnis)

In [ ]:
#depois
len(ovnis_limpo)

Conhecendo as variáveis importadas

In [ ]:
#conhecendo as variáveis importadas
ovnis_limpo.columns.values

In [11]:
#conhecendo a estrutura da tabela
ovnis_limpo.head()

,date_time,city,state,shape,duration,summary,posted
0,9/30/97 20:00,Nova Scotia (Canada),NS,Light,8-10 seconds.,"Single light resembling a star, but moving spu...",10/30/06
1,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
2,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
3,9/18/97 20:15,Panama City,FL,Unknown,30 seconds,Looked like stars in the sky so far up/moveing...,3/13/12
4,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10

Começando a Análise dos dados após a limpeza

In [12]:
#Quantos relatos ocorreram por estado em ordem decrescente
qtd_relatos_estados = ovnis_limpo.state.value_counts().to_frame().reset_index()
qtd_relatos_estados.columns = ['estado', 'relatos']
qtd_relatos_estados

   estado  relatos
0      CA     7911
1      FL     4352
2      WA     3225
3      TX     2882
4      NY     2824
..    ...      ...
59     NF       21
60     YT       14
61     PE        9
62     NT        7
63     SA        4

[64 rows x 2 columns]

In [13]:
#Consulta por cidades, com o objetivo de saber quais contêm o maior número de relatos (cidades que apresentem ao menos 10 relatos).
relatos_cidades = ovnis_limpo.city.value_counts().to_frame().reset_index()
relatos_cidades.columns = ['cidade', 'relatos']
qtd_relatos_cidades = relatos_cidades.query("relatos >= 10")
qtd_relatos_cidades

                cidade  relatos
0              Phoenix      366
1            Las Vegas      338
2              Seattle      323
3             Portland      318
4            San Diego      272
...                ...      ...
1450            Felton       10
1451  North Providence       10
1452            Sylmar       10
1453       Port Orange       10
1454        Lake Villa       10

[1455 rows x 2 columns]



---

**6. Com o dado anterior, responder a seguinte pergunta: por que será que essa é a cidade que possui mais relatos?**

Em 13 de março de 1997, mais de 20 mil pessoas testemunharam diversos objetos o céu, o que ficou conhecido como "Luzes de Phoenix" e originou o filme "**O Segredo do Céu**", de 2007.

O filme sobre o acontecimento, pode ter contribuido para o fato não cair no esquecimento e por outro lado pode deturpar a seriedade dos investigadores sobre o assunto.

Isso pode ter aumentado o foco na região e influenciado nos números que temos atualmente.



---

Limitando a análise aos Estados Unidos

In [14]:
#Lista de estados dos Estados Unidos
states_eua = ['AK','AL','AR','AZ','CA','CO','CT','DE','FL','GA','HI','IA','ID','IL',
'IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM',
'NV','NY','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY']
lista_eua = []

for i in range(len(ovnis_limpo)):
    if(ovnis_limpo.iloc[i,2] in states_eua):
        lista_eua.append(ovnis_limpo.iloc[i])

In [15]:
ovnis_eua = pd.DataFrame(lista_eua).reset_index(drop= True)
ovnis_eua.head()

,date_time,city,state,shape,duration,summary,posted
0,9/22/97 20:00,Solomons Island,MD,Disk,10 minutes,"Close up at twilight, Stationary UFO.",8/5/09
1,9/19/97,Garden Grove,CA,Rectangle,4 mins.,Around 6:30 PM I was walking through a Vons Pa...,12/1/19
2,9/18/97 20:15,Panama City,FL,Unknown,30 seconds,Looked like stars in the sky so far up/moveing...,3/13/12
3,9/15/97 00:00,Houston,TX,Disk,5 minutes,Beautiful silver-colored flying saucer about t...,7/19/10
4,9/15/97 20:00,Santa Fe,NM,Light,2-3 minutes,Saw white dot of light moving in zig-zag motio...,11/9/17

In [ ]:
#Criando CSV após limpeza e análise dos dados
ovnis_eua.to_csv('OVNIS_EUA.csv', index=False)

Comparando as quantidades antiga e nova

In [ ]:
#antiga
len(ovnis_limpo)

In [ ]:
#nova
len(ovnis_eua)



---

Fazer uma query exclusiva para o estado com maior número de relatos, buscando cidades que possuam um número superior a 10 relatórios. Enfatizar a cidade, a quantidade de relatos e formato do objeto não identificado.



---

In [ ]:
#estado com o maior número de relatos
qtd_relatos_estados.head(1)

CA --> ESTADO DA CALIFÓRNIA (7911 relatos)

In [ ]:
#fazendo a query exclusiva

#filtro para a cidade da Califórnia
ca = OVNIS_EUA.query("state == 'CA'").reset_index()
cidades_ca = ca.city.value_counts().to_frame().reset_index()

#filtro das cidades com quantidade relatos maior que 10
cidades_ca.columns = ['cidade', 'relatos']
qtd_relatos_cidades_ca = cidades_ca.query("relatos >= 10")
qtd_relatos_cidades_ca

## Não foi possível colocar o tipo do objeto, pois cada cidade tem mais de um relato e diferentes tipos de objetos